hello.swift.CoreMotion.xcodeproj/project.xcworkspace/xcshareddata/hello.swift.CoreMotion.xccheckout
hello.swift.CoreMotion.xcodeproj/project.xcworkspace/xcuserdata/nao.xcuserdatad/UserInterfaceState.xcuserstate